body {    font-family: century gothic;    }
h1 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
	text-align: center;  

}
h3 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	text-align: center;  
}
p {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

table {    
	background-color: #F60;    
	border: 1px solid #39F;    
	width: 100%;    
}

td	{
	border: 0px;    
	text-align: center;    
}

p {    
	color:#09F;    
	text-indent: 20px;        
}